@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green: #7DCE13;
    --text-white: white;
    --app-container: #2C3333;
    --app-background: white;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

/* navigation bar  */
header{
    background-color: var(--green);
}
nav{
    display: flex;
    justify-content: space-between;
}

/* page title  */
nav .title{
    display: grid;
    place-content: center;
    word-wrap: break-word;
    margin: 3px;
}

.title h1{
    font-weight: 900;
    color: white;
    font-size: xx-large;
    padding: 4px;
    user-select: none;

}

    /* playlist  */
.playlist-box{
    display: grid;
    place-content: center;
}

#playlistBtn{
    outline: none;
    border: none;
    padding: 7px 15px;
    border-radius: 100vmax;
    margin-right: 3px;
    font-weight: bold;
    color: var(--green);
    color: rgb(48, 48, 48);
    cursor: pointer;
}
#playlistBtn img{
    width: 15px;
}

#playlistBtn:hover{
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}


   /* main, sasta Player   */
main{
    background-color: var(--app-container);
    height: 70%;
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.app-container{
    width: 50vw;
    max-width: 300px;
    border-radius: 10px;
    height: 400px;
    background-color: var(--app-background);
}

.now-playing{
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
}
.now-playing h2{
    color: gray;
    font-weight: 500;
    font-size: 1rem;
}

.track-image{
    text-align: center;
}

.track-image img{
    width: 200px;
    border-radius: 10px;
}

.track-info{
    text-align: center;
    margin: 5px 0px;
}

.track-title{
    /* border: 1px solid; */
    padding-left: 8px;
    padding-right: 8px;
}

.artist{
    color: grey;
}

 /* progress bar  */
.progress-bar{
    text-align: center;
}

#bar{
    width: 90%;
    margin: 0px 5px;
}

.progress-info{
    margin: 0px 5px;
    display: flex;
    justify-content: space-between;
}

.audio-controls{
    /* border: 1px solid; */
    width: 100%;
    padding: 5px 0px;
    margin-top: 0px;
    overflow: visible;
    display: flex;
    justify-content: center;
}

.btn-wrapper{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    width: 60%;
}

/* control buttons and svgs */
.control-btn{
    border: 2px solid white;
    outline: 2px solid var(--green);
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: var(--green);
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px var(--green);
    display: grid;
    place-content: center;
}
.control-btn .svg-btn{
    width: 14px;
    filter: invert();
}

.play-btn{
    padding-left: 3px;
}



 /*
  ============= Playlist modal window ==============  
*/
.modal-window{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window .container{
    height: 80vh;
    width: 80vw;
    /* max-width: ; */
    background-color: white;
    box-shadow: 0px 0px 5px white;
    overflow-y: auto;
}
.modal-pop{
    animation: pop-up 1s ease-in-out forwards;
}
@keyframes pop-up{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.modal-closed{
    animation: fade .5s ease-in-out forwards;
}
@keyframes fade{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

  /* srollbar of Modal  */
.container::-webkit-scrollbar{
    width: 6px;
    background-color: gainsboro;
    border-radius: 5px;
}
.container::-webkit-scrollbar-thumb{
    background-color: rgb(136, 132, 132, 0.8);
    border-radius: 5px;
}


 /* ======= inside modal ===== */
.search-section{
    height: 15%;
    display: grid;
    place-content: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.221);
}

.search-field,
.search-field:active{
    outline: none;
    border: none;
    padding: 3px;
    padding-left: 1.85rem;
    border: 1px solid orange;
    font-size: 1.2rem;
    color: orangered;
    font-family: 'Poppins', sans-serif;
    background: url('src/img/search-icon.png') left no-repeat;
    background-size: 30px;

}
.search-field::placeholder{
    color: orangered
}

.music-list-section{
    height: auto;
    padding: 5px;
}

/* track info  */
.track{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    transform: scale(.95);
}
.track .title, .artist{
    padding-left: 5px;
}
.track .title{
    font-weight: 400;
    color: dodgerblue;
}
.track .artist{
    font-size: 15px;
    color:rgb(48, 48, 48)
}

.track:hover{
    transform: scale(.98);
    transition: transform .3s;
    cursor: pointer;
    background-color: dodgerblue;
}
.track:hover .title{
    color: white;
}
.track:hover .artist{
    color: white;
}




/* invisible Audio Player */
.hidden-player{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-20%);
    visibility: hidden;
}

/* footer  */
footer{
    position: absolute;
    bottom: 0;
    width: 72px;
    height: 34px;
    text-align: center;
    border: 1px solid;
    padding: 5px 0px;
    background-color: var(--green);
    color: var(--text-white);
    font-weight: 600;
    /* text-shadow: 0px 0px 2px rgba(0,0,0,1); */
    border-radius: 100vmax;
    overflow: hidden;
    transition: all .8s;
    margin: 5px;
}

footer a{
    color: var(--text-white);
}

footer:hover,
footer:active,
footer:focus-within
{
    width: 100%;
    margin: 0;
}

    /* devices who haven't hover */

